.card {
  position: relative;
  border: 1px solid rgba(0, 255, 65, 0.2);
  background: #0a0a0a;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: #00ff41;
    box-shadow: 0 0 25px rgba(0, 255, 65, 0.15);
    
    .overlay {
      opacity: 1;
      transform: translateY(0);
    }
    
    .projectImg {
      transform: scale(1.1);
      filter: blur(2px) brightness(0.4);
    }
  }
}

.imageContainer {
  position: relative;
  height: 250px;
  overflow: hidden;
}

.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.overlay {
  position: absolute;
  inset: 0; // Covers the whole image
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  opacity: 0; // Hidden by default
  transform: translateY(20px); // Slight slide-up effect
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.85);
}

.techList {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;

  span {
    font-size: 0.7rem;
    color: #00ff41;
    border: 1px solid #00ff41;
    padding: 2px 6px;
    font-family: var(--font-mono);
  }
}

.codeBtn {
  margin-top: auto; // This pushes the code button AND the demo button to the bottom
  margin-bottom: 0.5rem; // Space between the two buttons
  width: 90%;
  text-align: center;
  background: transparent;
  color: #00ff41;
  border: 1px solid #00ff41;
  padding: 0.6rem;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;

  transform: skew(-15deg); 

  /* Fix the text: We have to un-skew the text inside so it's readable */
  span, b, p { 
    display: inline-block;
    transform: skew(15deg);
  }

  &:hover {
    background: #fff;
    box-shadow: 0 0 15px #fff;
  }
}

.demoBtn {
  width: 90%;
  text-align: center;
  background: #00ff41;
  color: #000;
  padding: 0.6rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  transform: skew(-15deg); 

  /* Fix the text: We have to un-skew the text inside so it's readable */
  span, b, p { 
    display: inline-block;
    transform: skew(15deg);
  }

  &:hover {
    background: #fff;
    box-shadow: 0 0 15px #fff;
  }
}
.cardFooter {
  padding: 1rem;
  border-top: 1px solid rgba(0, 255, 65, 0.1);
  h3 { font-size: 1rem; color: #fff; letter-spacing: 1px; }
}
.hoverDesc {
  font-size: 0.85rem;
  color: #ccc;
  text-align: center;
  margin-bottom: 1rem;
  
  // Only show first 3 lines, then add "..."
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}